<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - NutriTrackWeb</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <!-- Cabeçalho -->
    <header>
    <div class="header-container">
    <img src="@Url.Content("~/images/NutriTrackWebGR.png")" alt="Logo NutriTrack" class="logo-nav" />
    <h1 class="fraseefeito"> a space for care, transformation and connection </h1>
    <nav class="nav-links">
      <a href="/Index" class="links-nav">Home</a>
      <a href="/Contact" class="links-nav">Contact</a>
      <a href="/Locations" class="links-nav">Locations</a>
      <a href="/Login" class="links-nav">Login</a>
    </nav>
    </div>
    </header>

    <!-- Conteúdo da página -->
    <main>
        @RenderBody()    
    </main>

    <!-- Rodapé -->
    <footer>
        &copy; 2025 NutriTrackWeb by Stefany
    </footer>
    
</body>
</html>
