<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - NutriTrackWeb</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <!-- Cabeçalho -->
    <header>
        <h1 style="color: white;">NutriTrackWeb</h1> <!--alterar para o Logo -->
        <nav>
          <a class="links-nav" href="Views\Home\Index.cshtml">Home</a>
            <a class="links-nav" href="Views\Home\Locations.cshtml">Service Area</a>
            <a class="links-nav" href="Views\Home\Contact.cshtml">Contact Us</a>
            <a class="links-nav" href="Views\Home\Login.cshtml">Login</a>

        </nav> 
    </header>

    <!-- Conteúdo da página -->
    <main style="padding: 80px;">
        @RenderBody()
    </main>

    <!-- Rodapé -->
    <footer style="background-color: #4A7C59; color: white; text-align: center; padding: 20px;">
        &copy; 2025 NutriTrackWeb by Stefany
    </footer>
    
</body>
</html>
