@model nutriTrackWeb.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

@section HeaderRight {
    <a href="/Home/Index" class="btn btn-secondary"> Voltar ao Inicio </a>
}
<section class="section">
    <div class="form-section">
        <h3 class="mb-4">Login</h3>

<form asp-action="Login" method="post"> <!-- formulario já ligado com o backend -->

    <div class="mb-3">

        <label class="form-label">Usuário</label>
        <input asp-for="UserLogin" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Senha</label>
        <input asp-for="Senha" type="password" class="form-control" />
    </div>

    <button type="submit" class="btn btn-principal">Entrar</button>
  <!--  <a class="btn btn-principal" href="/Client/Portal"> Entrar </a> -->
</form>
</div>
</section>
