<!-- model nutriTrackWeb.Models.LoginViewModel -->

@{
    ViewData["Title"] = "Portal";
}


@section HeaderRight {
    <div> <p class="btn dropdown-toggle">Bem Vindo(a), @Model.UserLogin </p></div>
    <div class="collapse" id="menu-collapse"> oi </div>
    
}
<section>

    <a href="/Account/Login" class="btn btn-danger"> Logout </a>
</section>


