@{
    ViewData["Title"] = "Home Page";
}
<img class = "imgfundo" src="~/images/fundo.jpg" alt="foto fundo">
<div class="text-center content">

                                <h2 style="text-align: center;" ><span> Clínica Dentinhos </span></h2>
                                <div style="text-align: center;"><img src="Logo.jpeg" height="200"/> </div>
                                <h4 style="text-align: center;">A sua clínica dentária de confiança em Luanda!</h4>
                                <p>Na <span>Clínica Dentinhos</span>, estamos comprometidos em cuidar do seu sorriso e da sua saúde oral.<br>
                                    <br>Com uma equipa de profissionais experientes e dedicados, oferecemos uma variedade de serviços especializados:</p>

                            
                                    <br><p><b>Prótese Dentária:</b><br> Restauramos a função e a estética dos seus dentes com próteses personalizadas.</p>
                                    <p><b>Ortodontia:</b><br> Corrigimos o alinhamento dos dentes e maxilares para um sorriso harmonioso.</p>
                                    <p><b>Branqueamento Dentário:</b><br> Deixe os seus dentes mais brancos e radiantes com o nosso tratamento de branqueamento.</p>
                                

                                <br><p style="text-align: center;">Com mais de 30 anos de experiência odontológica, estamos comprometidos em fornecer cuidados de máxima qualidade a preços acessíveis. A sua saúde oral está em boas mãos com os <span>Dentinhos!</span> 🦷😁</p>
                
                    
</div>