html {
  position:relative;
  font-size: 14px;
  margin: 0%;
}

footer{
  text-align: center;
  position: fixed;

}

.imgfundo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  filter: brightness(0.3);
  z-index: -1;
}

.texto-apresentacao {
  text-align: center;
  color: white;
  padding: 10%;
}
