html {
  position: relative;
  min-height: 100%;
  font-size: 14px;
}

body {
  margin-bottom: 60px;
  background-color: #F2D6D0; 
  font-family: sans-serif;
}

nav {
  text-align: end;
  
}

header {
  background-color: #A3C9A8;
  padding: 20px;
}

.links-nav {
  color: white;
}